<h2>Recent nieuws</h2>

<ul>
<% news.forEach(article => { %>
  <li>
    <a href="/<%= article.slug %>">
      <%= article.title %>
    </a>
    <p class="date"><%= article.date %></p>
  </li>
<% }) %>
</ul>